@import "../../../components/GlobalStyles/variables";

.tools {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-top);
    gap: 8px;

    @include respond(phone) {
        flex-direction: column;
        width: 400px;
        margin: 0 auto;
    }
}

.tools-title {
    display: flex;
    padding: 8px 24px;
    border: var(--border);
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    flex: 3;
}

.tools-list {
    display: flex;
    list-style: none;
    gap: 4px;

}

.tools-item {
    display: flex;
    padding: 8px 12px;
    border: var(--border);
    border-radius: var(--border-radius);
    align-items: center;

    @include respond(phone) {
        flex: 1;
    }
}

.icon {
    width: 50px;
    height: 50px;
}
