@import "../../../components/GlobalStyles/variables";

.footer {
    display: flex;
    margin-top: var(--margin-top);
    justify-content: space-between;
    margin-bottom: 8px;

    @include respond(phone) {
        flex-direction: column;
        width: 400px;
        margin: 12px auto;
        gap: 8px;
    }
}

.left {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    font-size: 2.5rem;
    font-weight: 650;

    @include respond(phone) {
        flex: 0;
    }
}

.right {
    display: flex;
    margin-left: 8px;

    @include respond(phone) {
        width: 100%;
        margin-left: 0;
    }
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 8px 12px;

    @include respond(phone) {
        flex: 2;
        font-size: 1.1rem;
    }
}

.phone-icon {
    font-size: 5rem;

    @include respond(phone) {
        font-size: 2rem;
    }
}

.social {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 8px 12px;
    margin-left: 8px;
    text-decoration: none;
    color: #000;
    cursor: pointer;

    :hover {
        transition: ease-out;
        opacity: 0.7;
    }

    @include respond(phone) {
        flex: 1;
        text-align: center;
    }
}


.icon {
    font-size: 5rem;

    @include respond(phone) {
        font-size: 4rem;
    }
}
